html,body{
	height: 100%;
}
body{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-image: url(post\ review.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	color: white;
}
header{
	background-color: #303235 ;
	padding-top: 5px;
}
header ul{
	margin: 0;
	padding: 0;
}
header li{
	float: left;
	display: inline;
	padding:0 20px 0 20px; 
	
}
.icon-bar {
    width: 100%;
    background-color: #303235;
    overflow: auto;
}

.icon-bar a {
    float: left;
    /*width: 350%;*/
    text-align: center;
    padding: 25px 20px;
    transition: all 0.3s ease;
    color:#1100D3;
    font-size: 23px;
}

.icon-bar a:hover {
    background-color:#333333;
    width :100%;
}

.registrationbox{
	width: 460px;
	margin: 0 auto;
	height: auto;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 5%;
	bottom: 20%;
	position: relative;
	box-sizing: border-box;
	padding: 10px 30px;
}

.registrationbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.registrationbox input{
	width: 100%;
	margin-bottom: 20px;	
}
.registrationbox input[type="text"],input[type="password"],input[type="number"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.registrationbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: rgba(255, 166, 0, 0.445);
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.registrationbox  select{
	height: 40px;
	appearance :none;
	display: block;
	border-radius: 4px;
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
	background-color: #201A1A;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.registrationbox input[type="submit"]:hover
{
	cursor: pointer;
	background: dodgerblue;
	color: #000;
}
.registrationbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
	font-size: 14px;
}
.registrationbox a:hover{
	color: dodgerblue;
}
.checked {
  color: rgba(255, 166, 0, 0.342);
}